body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 400px;
  padding: 15px 10px;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  border-bottom: 2px solid #2F5A60;
}

button {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px 0;
  background-color: #2F5A60;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
}
