.container {
    display: flex;
    justify-content: space-evenly;
}

.connection {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 15px;
    box-shadow: 1px 4px 10px 1px #7b6d6de1;
    background-color: #a9a9a9;
    color: #2F5A60;
    text-decoration: none;
}

.name {
    font-size: 1.2rem;
}

.username {
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
}
