.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2F5A60;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 0 15px;
    row-gap: 30px;
}

