.container {
    padding: 0 15px 50px 15px;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2F5A60;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #2F5A60;
    font-weight: bold;
    box-shadow: 0 4px 7px 0 #9c9c9c;
}

.container button {
    padding: 0;
    background-color: transparent;
    color: #b81313;
}

.actions {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 25px;
}

.actions button {
    width: 80px;
    padding: 10px 0;
    color: #ffffff;
}

.actions .yes {
    background-color: #b81313;
}

.actions .no {
    background-color: #2F5A60;
}