.container {
    display: flex;
    flex-direction: column;
    border: 2px solid brown;
    align-items: center;
    padding: 0 15px 50px 15px;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2F5A60;
    margin-bottom: 50px;
    border: 2px solid green;
}

.search {
    background: none;
    width: 100%;
    font-size: 1.5rem;
    outline: none;
}